/**************MENU HMABUERGUESA*************/
@media (max-width: 1024px) {


    .logoHeader {

        width: 70%;
    }

    .menu-toggle {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        user-select: none;
        color: #72d0cb;

    }

    .navbar {

        display: flex;
        flex-direction: column;
        width: 100%;
        opacity: 0;
        height: auto;
        background-color: #f7f2f4;
        backdrop-filter: blur(4px);
        position: absolute;
        top: 10vh;
        left: 0;
        padding: 1rem 0;
        transition: opacity 0.2s linear;

    }

    .navbar.active {
        opacity: 1;
    }


    .navbarList {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    .listItem a {
        color: black;
        font-size: 1.2rem;
    }

}

@media (max-width: 590px) {

    .containerWhatsapp {
        display: none;
    }

    main>div {

        padding: 2rem 0;
    }

    .bienvenidaContainer {

        display: flex;
        justify-content: center;
        background-size: cover;
        position: relative;
        padding: 2rem 0;
    }

    .bienvenidaContainer::after {

        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.479);
        position: absolute;
    }

    .textoBienvenidaContainer {

        width: 90%;
        padding: 2rem 0;
        z-index: 1;
        color: white;
    }

    .tituloBienvenida::after {

        width: 90%;

    }

    .subParrafo {

        width: 100%;
        font-size: 1.5rem;
        padding: 2rem 1rem;

    }

    /**********PERFIL PROFESIONAL**************/

    .perfilProfesionalContainer {

        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

    }

    .perfilProfesionalContainerImg {

        width: 98%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .perfilimg {

        aspect-ratio: 1/1;
    }

    .MariaJose {

        grid-column: auto;
        grid-row: auto;
    }

    .perfilProfesionalContainerTexto {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        background-size: 50%;
        order: -1;
        padding: 1rem 0;
    }

    .perfilTexto,
    .parrarfoCeleste {

        width: 90%
    }

    .contactoNumero a::after {

        content: none;

    }

    /******** SERVICIOS*********/

    .serviciosContainer {

        padding-bottom: 3rem;
    }

    .serviciosContainerImg {

        width: 90%;
        height: auto;
        flex-direction: column;

    }

    .detallesServicio {

        background-color: var(--rosa-claro);
    }

    /**********TRATAMIENTOS FACIALES***************/


    .facialTitulo {

        width: 90%;

    }

    .facialTexto {

        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        gap: 1rem;
        padding: 2rem 0;
      

    }

    .facialItem {

        align-items: center;

    }

    .facialImg {

        flex: 1;

    }

    .detalles{
    
        flex: 2;
    }

    .facialItem img {

        border-radius: 0;

    }

    /********TRATAMIENTOS CORPORALES*************/

    .corporalesContainer {

        gap: 2.5rem;
        padding-bottom: 2rem;

    }

    .tituloCorporales::after {
        width: 90%;
    }

    .detallesCorporales {

        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .detallesCorporalesImg {

        width: 90%;

    }

    .detallesCorporalesTexto {

        width: 100%;
       
    }

    .itemCorporal {

        flex-direction: column;
        transition: padding 0.2s linear, background-color 0.2s linear;
    }

    .itemCorporal:hover {

        padding: 1rem 0.5rem;
        background-color: aliceblue;
        transform: none;
    }

    .itemTextoCorportal {

        border-left: none;
        text-align: center;

    }

    .itemTituloCorporal {

        text-align: center;
        font-style: italic;
        font-size: 1.2rem;
    }

    .item2 {


        margin-left: 0;
    }

    .item3 {

        margin-left: 0;
    }

    /*******DEPILACION*******/

    .depilacionContainer {

        width: 95%;

    }

    .depilacionDetalles {

        width: 90%;
        flex-direction: column;
        gap: 1rem;

    }

    .depilacionItem {

        position: relative;

    }

    .tituloDetalleDepilacion {
        border-width: 0;
    }


    .depilacionDetalleTexto {

        z-index: 2;
    }

    .parrafoDetalleDepilacion {

        padding: 2rem 0;
        position: relative;
        color: white;
        z-index: 0;
    }

    .parrafoDetalleDepilacion::after {

        content: "";
        width: 160%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.459);
        position: absolute;
        z-index: -1;
    }


    .depilacionDetalleImg {

        position: absolute;

    }

    /********EXPERIENCIAS PREMIUM*************/

    .premiumContainer {

        width: 100%;

    }

    .tituloPremium {

        width: 90%;
    }

    .detallesPrermiumContainer {

        flex-direction: column;
        gap: 3rem;

    }

    .textoPremiumContainer {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .detalleTituloPremium {

        transition: border-radius 0.2s linear;

    }

    .premiumItem:hover .detalleTituloPremium {

        border-radius: 0;
    }

    .textoPremium {

        padding: 0 1rem;
    }

    /*******ASESORAMIENTO*********/

    .asesoramientoContainer {

        width: 100%;
    
    }

    .asesoramientoImg {

        display: none;
    }

    .asesoramientoTextoContainer {

        width: 100%;
        background-image: url(img/asesoramiento/asesoramiento_rutina_facial.webp);
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;
        background-size: cover;
        color: white;
        padding: 2rem 0;
        background-attachment: fixed;
    }

    .asesoramientoTitulo::after {

        width: 90%;

    }

    /*********CONTACTOS************/

    .ItemContactoContainer {

        width: 100%;
        padding: 2rem 0;

    }

    .tituloContacto {

        width: 90%;
    }

    .iconosContactoContainter {

        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;

    }

    .imgRedes {

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .imgRedes img {

        display: flex;
        justify-content: center;
    }

    .imgContainer {

        display: none;

    }

    /**********FOOTER***********/

    .footer {

        flex-direction: column;
    }

}

@media (min-width: 595px) and (max-width: 1024px) {

    .containerWhatsapp {
        display: none;
    }

    .bienvenidaContainer {
        justify-content: center;
        background-size: cover;
        position: relative;
    }

    .bienvenidaContainer::after {

        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.479);
        position: absolute;
    }

    .textoBienvenidaContainer {

        width: 70%;
        gap: 3rem;
        padding: 2rem 0;
        z-index: 1;
        color: white;
    }

    .tituloBienvenida::after {

        width: 100%;

    }

    .subParrafo {

        width: 100%;
        font-size: 1.7rem;
        padding: 2rem 1rem;

    }

    /**********PERFIL PROFESIONAL**************/

    .perfilProfesionalContainer {

        flex-direction: column;
        gap: 2rem;

    }

    .perfilProfesionalContainerImg {

        width: 98%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .perfilimg {

        aspect-ratio: 1/1;
    }

    .MariaJose {

        grid-column: auto;
        grid-row: auto;
    }

    .perfilProfesionalContainerTexto {

        width: 100%;
        gap: 2rem;
        background-size: 50%;
        order: -1;
        padding: 3rem 0;
    }

    .perfilTexto,
    .parrarfoCeleste {

        width: 90%
    }

    .contactoNumero a::after {

        content: none;

    }

    /******** SERVICIOS*********/

    .serviciosContainer {

        padding: 3rem 0;
    }

    .serviciosContainerImg {

        width: 65%;
        flex-direction: column;

    }

    .detallesServicio {

        background-color: var(--rosa-claro);
        font-size: 1.5rem;
    }

    /**********TRATAMIENTOS FACIALES***************/

    .facialTitulo {

        width: 90%;

    }

    .facialTexto {

        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        gap: 1rem;
        padding: 2rem 0;

    }

    .facialItem {

        align-items: normal;
    }

    .facialImg {
        width: 25%;
    }

    .facialItem img {

        border-radius: 0;

    }

    .detallesTitulo{

        font-size: 1.7rem;
    }

    .detalleTexto{

        font-size:1.5rem;
    }

    /********TRATAMIENTOS CORPORALES*************/

    .corporalesContainer {

        gap: 2.5rem;

    }

    .tituloCorporales::after {
        width: 90%;
    }

    .detallesCorporales {

        width: 90%;
        flex-direction: column;
        gap: 3rem;
    }

    .detallesCorporalesImg {

        width: 90%;
    
    }

    .detallesCorporalesTexto {

        width: 100%;
    
    }

    .itemCorporal {

        flex-direction: column;
        transition: padding 0.2s linear, background-color 0.2s linear;
    }

    .itemCorporal:hover {

        padding: 1rem 0.5rem;
        background-color: aliceblue;
        transform: none;
    }

    .itemTextoCorportal {

        font-size: 1.5rem;
        border-left: none;
        text-align: center;

    }

    .itemTituloCorporal {

        text-align: center;
        font-style: italic;
        font-size: 1.7rem;
    }


    .item2 {


        margin-left: 0;
    }

    .item3 {

        margin-left: 0;
    }

    /*******DEPILACION*******/

    .depilacionContainer {

        width: 90%;

    }

    .depilacionDetalles {

        width: 80%;
        flex-direction: column;

    }

    .tituloDetalleDepilacion{
        border-width: 0;
        padding: 2rem 0;
    }

    .depilacionDetalleTexto {

        flex: 1;
        font-size: 1.5rem;
        overflow: hidden;
    }

    
    .depilacionItem{
        
        position: relative;
    
    }

    .depilacionDetalleTexto {

        z-index: 2;
    
    }

    .parrafoDetalleDepilacion{

        padding: 5rem 0;
        font-family: 2rem;
        position: relative;
        color: white;
        z-index: 0;
    
    }

    .parrafoDetalleDepilacion::after{

        content: "";
        width: 160%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.459);
        position: absolute;
        z-index: -1;
    }


    .depilacionDetalleImg {

        position: absolute;
    
    }

 
    /********EXPERIENCIAS PREMIUM*************/

    .premiumContainer {

        padding: 3rem 0 0 0;

    }

    .tituloPremium {

        width: 80%;
    }

    .detallesPrermiumContainer {

        flex-direction: column;
        gap: 3rem;
        padding: 2rem 0;

    }

    .premiumItem{
        width: 90%;
    }

    .textoPremiumContainer {

        gap: 1rem;
    }

    .detalleTituloPremium {

        transition: border-radius 0.2s linear;
        font-size: 1.7rem;
        padding: 1rem 0;

    }

    .premiumItem:hover .detalleTituloPremium {

        border-radius: 0;
    }

    .textoPremium {

        padding: 2rem 0;
        font-size: 1.5rem;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgb(223, 139, 30);
    }

    /*******ASESORAMIENTO*********/

    .asesoramientoImg {

        display: none;
    }

    .asesoramientoTextoContainer {

        width: 100%;
        background-image: url(img/asesoramiento/asesoramiento_rutina_facial.webp);
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;
        background-size: cover;
        color: white;
        padding: 5rem 0;
        background-attachment: fixed;
        font-size: 1.5rem;
    }
    
    .asesoramientoTexto{

        font-size: 1.5rem;
        line-height: 3rem;
        
    }
    .asesoramientoTitulo::after {

        width: 90%;

    }

    /*********CONTACTOS************/

    .ItemContactoContainer {

        width: 100%;
        padding: 2rem 0;

    }

    .tituloContacto {

        width: 90%;
    }

    .iconosContactoContainter {

        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;

    }


    .imgContainer {

        display: none;

    }

    /**********FOOTER***********/

    .footer {

        flex-direction: column;
    }


}

 